@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");


/*   BASICS & FONTS   */
body { font-size: 1.2em; background: #f5f5f5; }

h2 { font-size: 3em; margin-bottom: 0.5em; text-align: center; }
	.text-muted { color: #337ab7; font-size: 2em; }
h4 { font-size: 1em; }

footer p { margin: 0; padding: 0; }

a { cursor: pointer }


/*   LAYOUT   */
.container { padding: 1em; }
.header { margin: 0em 0em 1em 0em; }
.well { background: #fff; border: 1px solid #999; padding: 3em; border-radius: .5em; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); overflow: hidden; }
.page-container { margin: 0em 0em 3em 0em; font-size: 1.25em }
.navigation { margin: 0em; padding: 0em; }
.summary { background: #f5f5f5; margin: 0em -3em -3em -3em; padding: 1.5em 3em 3em 3em; border-bottom-left-radius: .5em; border-bottom-right-radius: .5em; }


/*   PROGRESS BAR   */
.progress { height: 2.25em; width: 100%; min-width: 2em; background: #f5f5f5; border: none; margin: 0; }
.progress-bar { background: #337ab7; }


/*   PAGE CONTAINER   */
.page-container select, .page-container input { padding: .5em; margin: 0em .5em .5em 0em; }


.tooltip { text-align: left; }

.current-page { min-height: 20em }


/*   CUSTOM DIMENSIONS   */
.custom-dimensions .glyphicon-remove { margin-right: 0.5em }


/*   .SUMMARYBAR   */
.summarybar { background: #ededed; padding: 0em 3em 3em 3em; margin: 1.5em -3em -3em -3em; }
.subtotal { text-align: right; padding: 0em; margin-right: -15px; }
.subtotal input { background: none; border: none; text-align: right; width: 4em; }

.bulk { position: relative; background: #ffff66; padding: 0.75em 2em 0.75em 3em; margin-top: -3em; margin-right: 2em; border-radius: .5em; float: right; }
.bulk:after { left: 100%; top: 25%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 102, 0); border-left-color: #ffff66; border-width: 15px; margin-top: -15px; }

.bulk h4 { font-weight: bold; font-size: 1.3em; margin-left: -15px; }
.bulk ul li input { margin-right: .5em; }
.bulk ul li:last-child { margin-top: 1em; font-weight: bold }
.bulk .glyphicon { margin-right: 0.6em; /* color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */ }

.summarybar { margin-top: 0 }
.summarybar ul { list-style-type: none; padding: 0em; margin-left: -15px; }
.summarybar a .glyphicon { z-index: 1; } /* Fix for glyphicon not being clickable sometimes */
.summarybar a, .summarybar a:hover { text-decoration: none; }
.summary-toggle { padding-left: 0; }
.subtotal_numbers { font-size: 1.4em; font-weight: bold; }
.subtotal h3 { margin-left: -1em; margin-top: -1.5em; }
label { font-weight: normal; }

.form-control { width: 20em; display: inline-block; }
.selection-radio input { margin-right: 1.5em; }


/*   .TOTALBAR   */
.totalbar { background: #337ab7; padding: 3em 1.5em 3em 1.5em; margin: 1.5em -3em -3em -3em; }
.ordertotal { font-size: 2em; font-weight: bold; color: #fff; background: none; border: none; }


/*   BUTTONS   */
button { margin: 0em 1em 0em 0em; }
.pager { margin: 0em; }


/*   MODAL:   */
.modal-header { background-color: #337ab7; color: white; }
.modal-header .close { margin-top: 0.25em; }

.help-block { display: inline-block; line-height: 1 } /* Display bootstrap error messages inline */
.selection-radio { display: inline-block; }

/* Mobile Fixes */
@media (max-width: 768px) {
    .totalbar button { margin-bottom: 0.5em; }
	.order-details { margin-bottom: 3em; }
	.subtotal { margin-top: 4.5em; text-align: left; }

	/* Bulk / Buy More */
	.bulk-subtotal { padding: 0; float: none; }
	.bulk { float: none; margin-right: 0; }
	
	.bulk:after {
		left: 10%;
		top: 106%;
		-webkit-transform: rotate(90deg);
  		-moz-transform: rotate(90deg);
  		-ms-transform: rotate(90deg);
  		-o-transform: rotate(90deg);
 		transform: rotate(90deg);
	}

	/* Subtotal */
	.subtotal h3 { margin-left: 0; }
	.subtotal ul { margin-left: 0; }
	.subtotal_numbers { text-align: left !important; }
}

@media (max-width: 992px) {
	.custom-dimensions .control-label { text-align: left; }
}
